<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871300221872-7oetncos86db45l9iprmeaf8hc9hpuhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871300221872-7oetncos86db45l9iprmeaf8hc9hpuhj</string>
	<key>API_KEY</key>
	<string>AIzaSyAR6hwJElZYc5PBwl98GEscrpPC9SvwpSM</string>
	<key>GCM_SENDER_ID</key>
	<string>871300221872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduation</string>
	<key>PROJECT_ID</key>
	<string>graduation-5e09a</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-5e09a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871300221872:ios:d0d9a2cb1801392b592475</string>
</dict>
</plist>